.body-wrapper
{
	// box
	margin-top: 110px;

	// position
	z-index: 0;
 
	// visual

}



// Homepage

.drop-area
{
	// box
	width: 100%;
	height: 100px;
	margin-bottom: 30px;
	// position
	position: relative;

	// visual
	.border-radius(4px);
	border: 2px dashed @border-cl;
	

	// fonts
	font-size: 1rem;

	// animations
	.transition;
	

	h2
	{
		// box
		width: 100%;
		height: 80px;
		padding: 0;
		margin: -80px 0 0 -0;
		display: block;

		// position
		position: absolute;
		top: 50%; left: 0;
		
		// visual

		// fonts
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -1px;
		text-align: center;
		color: rgba(0,0,0,.15);
		line-height: 1.1;
		font-size: 1.6em;

		svg
		{
			// box
			width: 96px;
			height: 96px;
			margin-top: 15px;

			// position

			// visual
			fill: rgba(0,0,0,.05);
		}
	}

	.upload-files
	{
		// box
		display: block;

		// position
		position: relative;

		// visual

		// fonts
		font-size: 0.70em;
		text-transform: none;
		p
		{
			// box
			width: 100%;
			display: block;
			margin-top: 15px;
			padding:0;

			// position
			float: left;
			position: relative;
			z-index: 0;

			// visual
			cursor: pointer;

			// fonts
			font-weight: 500;

			&:hover
			{
				// visual


				// fonts
				color: @cl-blue;  
			}
		}
	}
	
	input[type="file"]
	{
		// box
		width: 100%; 
		height: 100%;
		display: inline-block;

		// position
		position: absolute;
		top: 0; right:0; bottom:0; left:0;
		z-index: 1;

		// visual
		.opacity(0);
		cursor: pointer;
	}

	&:hover
	{
		// visual
		border-color: @cl-green;
	}

	&.-xl
	{
		// box
		min-height: 300px;
	}

	// responsive
	@media @mobile
	{
		// fonts
		font-size: 0.815rem;

		h2
		{
			svg
			{
				// box
				width: 64px;
				height: 64px;
			}
		}
	}
}

.search-module
{
	// box
	width: 100%;
	padding: 15px;

	// position
	float: left;
	position: relative;

	.search-input
	{
		// box
		width: 100%;
		height: 40px;
		padding: 6px 50px 6px 15px;

		// position

		// visual
		border: 0px;
		background: @cl-gray-light;

		// fonts
		font-size: 0.875em;
		font-weight: 600;

		&:focus
		{
			background: @cl-white;
			.box-shadow(~"0px 0px 5px 1px @{cl-blue}");
		}
	}



	.button-submit
	{
		// box
		height: 40px;
		width: 40px;

		// position
		position: absolute;
		top: 15px; right: 15px;

		// visual
		border: 0px;
		background: none;




		svg 
		{
			// box
			width: 20px;
			height: 20px;
			margin: -10px 0 0 -10px;

			// position
			position: absolute;
			top: 50%; left: 50%;

			// visual
			fill: rgba(0,0,0,.1);

			// animations
			.transition;
		}

		&:hover
		{
			svg
			{
				// visual
				fill: rgba(0,0,0,.5);
			}
		}
	}
}

// General Items

// Action Bar

.global-action-bar
{
	// box
	height: 50px;
	padding: 0;


	// position
	position: absolute;
	top: 0; right: 0; left: 0;
	z-index: 0;

	// visual
	list-style: none;
	//border-bottom: 1px solid @border-cl-light;
	.box-shadow(~"0px 3px 2px -1px rgba(0,0,0,.1)");
	background: @cl-white;

	li
	{
		// box
		display: block;
		height: 100%;
		
		// position
		float: left;

		// visual


		&.left
		{
			float: left;
		}

		&.right
		{
			float: right;
		}
	}

	.tab-action
	{
		// box
		padding: 0 15px;
		height: 100%;

		// position
		position: relative;
		top: 50%;
		.translateY(-50%);

		// visual
		background: none;
		border: none;
		//border-right: 1px solid @border-cl-light;

		// fonts
		font-size: 1rem;
		font-weight: 500;
		color: @cl-gray-dark;

		// animations
		.transition;


		&:hover
		{
			color: @cl-black;
			.box-shadow(~"inset 0px -2px 0px @{cl-blue}");
		}
	}
}

.has-action-bar
{
	padding-top: 80px;
}

.content-module
{
	// box
	overflow: hidden;
	margin-bottom: 30px;

	// position

	// fonts
	font-size: 1rem;

	// visual
	background: @cl-white;
	border: 1px solid @border-cl;
	.border-radius(4px);
	.background-clip(border-box);


	.title
	{
		// box
		width: 100%;
		padding: 10px 15px;

		// position

		// visual
		border-bottom: 1px solid @border-cl-light;

		// fonts
		font-size: 1rem;
		font-weight: 700;
		color: @cl-black;
	}

	.body
	{
		// box

		// position
		position: relative;

		// visual
	}

	// responsive
	@media @mobile
	{
		.title
		{
			// fonts
			text-align: center;
		}
	}

}

.summary-list
{
	// box
	width: 100%;
	padding: 0;
	margin: 15px 0;

	// position
	float: left;

	// visual  
	list-style: none;

	// fonts

	// For sidebars 
}

.summary-list-item
{
	// box
	width: 100%;
	overflow: hidden;
	
	// position
	float: left;


	// fonts
	font-size: 1rem;

	// visual
	
	& > a
	{
		// box
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 15px;

		// position
		float: left;
		position: relative;

		// visual

		// fonts
		font-size: 0.815em;
		color: @cl-black;
		font-weight: 500;

		// animations
		.transition;


		span 
		{
			//box
			margin-left: 15px;

			// position
			float: left;
			position: relative;
			top: 50%;
			.translateY(-50%);
		}

		svg
		{
			// box
			width: 20px;
			height: 20px;
			margin-top: -10px;
			

			// position
			position: absolute;
			top: 50%; right: 15px;
			.translateX(-30%);
		
			// visual
			fill: rgba(0,0,0,.1);
			.opacity(0);

			// animations
			.transition;

		}


		// hover

		&:hover
		{
			// visual
			background: @cl-gray-light;

			// font
			color: @cl-blue;

			svg
			{
				// box
				display: block; 

				// position
				.translateX(10%);

				// visual
				.opacity(1);
				
			}
		}
	}

	.counter
	{
		// box
		height: 18px;
		min-width: 32px;
		padding: 0 10px;

		// position
		float: left;
		position: relative;
		top: 50%;
		.translateY(-50%);

		// visual
		background: @cl-gray-light;
		.border-radius(16px);


		// font
		font-style: normal;
		font-size: 0.815em;
		font-weight: 600;
		text-align: center;
		color: @cl-white;
		line-height: 18px;
	}
	
	// add on classes


	&.blank
	{
		.counter
		{
			// visual
			border: 1px solid @border-cl;
			background: none;

			// fonts
			color: @border-cl;
			font-weight: 600;

		}
	}
	
	&.draft
	{
		.counter
		{
			background: @cl-gray;
		}
	
	}

	&.wt-val
	{
		
		.counter
		{
			background: @cl-yellow;
		}
		
	}

	&.val-npb
	{
		.counter
		{
			background: @cl-blue;
		}
	}

	&.val-pb
	{
		.counter
		{
			background: @cl-green;
		}
	}

	&.rej
	{
		.counter
		{
			background: @cl-red;
		}
	}
}

// Custom layouts for Side Navigation
.sidebar-l
{
	.summary-list-item
	{

		.counter
		{
			// position
			float: right;

			// visual
			background: @font-cl-gray-ligth;

			// animations
			.transition;
		}

		a
		{
			span
			{
				// box
				margin-left: 0;

				// fonts
				font-weight: 600;
			}

			&:hover
			{
				.counter
				{
					background: @cl-blue;
				}
			}

		}

	}

	.summary-list-title
	{
		// box
		width: 100%;
		padding: 30px 15px 5px 15px;
		display: block;

		// position
		float: left;

		// fonts
		font-size: 0.75rem;
		text-transform: uppercase;
		font-weight: 600;
		color: @font-cl-gray-ligth;

		&:first-of-type
		{
			//padding-top: 0;
		}
	}
	

	.search-module
	{
		// box
		padding:0;


		.search-input
		{
			// box
			height: 50px;
			padding-right: 60px;
			// font
			font-size: 0.815rem;
			font-weight: 600;

			// visual
			background: @cl-white;
			border-bottom: 1px solid @border-cl-light;


			&:focus
			{
				// visual
				background: @cl-blue;
				border: 0; 
				outline: 0;
				.box-shadow(~"none");

				// fonts
				color: @cl-white;
			}

		}

		.button-submit
		{
			// box
			height: 50px; width: 50px;

			// position
			top: 0; right: 0;
		}
	}	
}


// Color Scheme Dark

.cl-sch
{
	&.dark
	{
		.summary-list
		{
			a
			{
				span
				{
					// visual
					color: @cl-white;
				}

				&:hover
				{
					background: @cl-white;
					span
					{
						color: @cl-blue;
					}
					.counter
					{
						background: @cl-blue;
					}
				}
			}

			.counter
			{
				background: @cl-gray-dark;
			}

			.summary-list-title
			{
				color: @cl-gray-dark;
			}
		}
	}

	&.white
	{

	}
}


