html
{
	font-size: 17px !important; 
	
}

body
{
	background: @cl-body !important;
	font-family: @font-default !important;
}

.window-wrapper
{

}




// Mixins

.transition {
	.transition(~"all 300ms ease-in-out");
}





















