html
{
	font-size: 17px !important; 
	
}

body
{
	background: @cl-body !important;
	font-family: @font-default !important;
	overflow-x: hidden;
}

.window-wrapper
{

}

.overlay-global
{
	// box
	display: none;

	// position
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;

	// visual
	background: rgba(0,0,0,.2);
}



// Mixins

.transition {
	.transition(~"all 200ms ease-in-out");
}


// Global Classes

.fl-right
{ float: right }

.fl-left
{ float: left }























