.header-nav-wrapper
{
	
	// Variables
	@header-h: 80px;
	@logo-container-w: 200px;
	@user-info-w: 250px;

	// position
	position: absolute;
	top:0; right: 0; left: 0;
	z-index: 1;

	// Fonts
	font-family: @font-headings;
	font-size: 0.875rem;


	// Header
	header
	{

		// box
		height: @header-h;
		width: 100%;

		// position
		position: relative;
		float: left;

		// visual
		background: rgba(255,255,255,1);
		border-bottom: 1px solid rgba(230,230,230,1);
		.box-shadow(~"0px 1px 2px rgba(0,0,0,.06)");

	}

	//* Logo area *//
	.logo
	{
		
		// box
		width: @logo-container-w;
		height: 100%;

		// position
		position: absolute;
		top: 0; left: 0;

		// visual
	}


	//* User info *//
	.user-info
	{
		// box
		width: @user-info-w;
		height: @header-h;

		// position
		position: absolute;
		top:0;
		left: @logo-container-w;

		// visual
		border: 1px solid rgba(0,0,0,.06);
		border-width: 0px 1px;
	}

	// Nav
	nav
	{
		// box
		height: @header-h;
		
		// position
		position: absolute;
		top: 0;
		.calc(left, ~'@{logo-container-w} + @{user-info-w}');
		right: 0;

		.nav-items-list
		{
			float: right;
		}

		.nav-item
		{
			// box
			width: auto;
			height: @header-h;
			margin-right: 15px;

			// position
			position: relative;
			float: left;

			// visual

			// transitions & animations
			.transition;

			
			.trigger
			{
				// box
				

				// position
				position: relative;
				top: 50%;
				.translateY(-50%);

				// visual
				border: 0px;
				background: none;

				// fonts
				font-size: 0.815em;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(0,0,0,0.3);
				outline: none;

				// transitions & animations
				.transition;

				&:hover {
					color: rgba(0,0,0,.8);
				}
			}

			&.is-active
			{
				.trigger 
				{
					color: @cl-main; 
				}
				.box-shadow(~"inset 0px -5px 0px @{cl-main}"); 
			}
		}
	}

	.nav-sub-menu
	{
		// box
		width: 100%;
		height: 300px;
		display: none;

		// position
		position: absolute;
		top: @header-h;

		// visual
		background: rgba(240,240,240,1);

		&.is-visible
		{
			display: block;
		} 
	}


	// Responsive

}