// Bootstrap Tabs

.sm-page-tabs
{
	// box
	width: 100%;

	// position
	position: relative;
	float: left;
}

.tabs-view
{

	
	// position

	// fonts
	font-size: 1rem;

	.nav-tabs
	{
		&.full-page
		{
			// box
			width: @sidebar-left-w;
			height: 100%;
			padding-top: 15px;
			
			// position
			position: absolute;
			top: 0; bottom: 0; left: 0;


			// visual
			background: transparent; 
			border-right: 1px solid @border-cl; 

			& > li
			{
				//box
				display: block;
				width: 100%;
				

				// visual


				& > a 
				{
					// box
					padding: 10px 15px;

					// visual
					.border-radius(0);
					border: 0;
					background: transparent;

					
					

					// fonts
					font-size: 0.815rem;
					font-weight: 600;
					color: @cl-gray;

					&:hover
					{
						background: transparent;
						border: 0;
					}

				}

				&.active
				{
					& > a
					{

						// visual
						background: transparent;
						border: 0;

						// fonts
						color: @cl-blue;

						&:hover
						{
							background: transparent;
							border: 0;
						}
					}	
				}
			}
		}
	}

	.tab-content
	{

		&.full-page
		{
			// box
			background: @cl-white;

			// position
			position: absolute;
			bottom :0;

			.tab-pane
			{
				// box
				margin-top: -45px;
				padding: 30px;

				// position
			}
		}
		
	}

	
}

