.sm-page-tabs {
  width: 100%;
  position: relative;
  float: left;
}
[data-tabs="content-nav-v"] {
  width: 300px;
}
[data-tabs="content-nav-v"] > li {
  width: 100%;
  display: block;
  float: left;
}
