// Bootstrap Tabs

.sm-page-tabs
{
	// box
	width: 100%;

	// position
	position: relative;
	float: left;
}

.tabs-fixed-vertical
{


	// position
	position: fixed;
	top: 80px; right: 0; bottom: 0 ; left: 0;

	// fonts

	.nav-tabs
	{
		// box
		width: @sidebar-left-w;
		height: 100%;
		padding-top: 30px;
		
		// position
		position: absolute;
		top: 0; bottom: 0; left: 0;


		// visual
		background: transparent; 
		border-right: 1px solid @border-cl; 

		& > li
		{
			//box
			display: block;
			width: 100%;
			

			// visual


			& > a 
			{
				// box
				padding: 10px 15px;

				// visual
				.border-radius(0);
				border: 0;
				background: transparent;

				
				

				// fonts
				font-size: 0.75rem;
				font-weight: 600;
				color: @cl-gray;

				&:hover
				{
					background: transparent;
					border: 0;
				}

			}

			&.active
			{
				& > a
				{

					// visual
					background: transparent;
					border: 0;

					// fonts
					color: @cl-main;

					&:hover
					{
						background: transparent;
						border: 0;
					}
				}	
			}

		}
	}

	.tab-content
	{
		// box
		padding: 80px 30px 30px;
		overflow-y: auto;

		// position
		position: absolute;
		top: 0; right: 0; bottom: 0; left: @sidebar-left-w;

		// visual
		background: @cl-white;
	}

	.tab-content-actions
	{
		// box
		height: 50px;
		padding: 0;

		// position
		position: absolute;
		top: 0; right: 0; left: @sidebar-left-w;
		z-index: 1;

		// visual
		list-style: none;
		border-bottom: 1px solid @border-cl;
		background: @cl-white;

		li
		{
			// box
			display: block;
			height: 100%;
			
			// position
			float: left;

			&.left
			{
				float: left;
			}

			&.right
			{
				float: right;
			}
		}

		.tab-action
		{
			// box
			margin: 0 15px;
			height: 100%;

			// position
			position: relative;
			top: 50%;
			.translateY(-50%);

			// visual
			background: none;
			border: none;

			// fonts
			font-size: 1rem;
			font-weight: 500;
			color: @cl-gray;

			// animations
			.transition;


			&:hover
			{
				color: @cl-black;
				.box-shadow(~"inset 0px -2px 0px @{cl-blue}");
			}
		}

		&:after
		{
			// box
			height: 30px;

			// position
			position: absolute;
			left: 0; right: 0; top: 50px;

			// visual
			.background-image(linear-gradient(to bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%));

			// other
			content: '';
		}

	}
}

