// Bootstrap Tabs

.sm-page-tabs
{
	// box
	width: 100%;

	// position
	position: relative;
	float: left;
}


[data-tabs="tab-nav"]
{
	&[data-tabs-layout="vertical"]
	{
		// box
		width: 300px;

		// position


		// visual

		& > li
		{
			// box
			width: 100%;
			display: block;

			// position
			float: left;
		}
	}
}
